@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

/******ROOT******/
:root {
  /* color */
  --main-color: #f21313;
  --hover-main: #c41111;
  --secondary-color: #fff7f7;
  --third-color: #262626;
  --light-grey: #fafafa;
  --grey: #969696;
  /* font-size */
  --x-big: 2.325rem;
  --big: 1.5rem;
  --medium: 1.125rem;
  --normal: 1rem;
  --small-font-size: 0.89rem;
  --nav-height: 3.5rem;
  --top-nav-height: 400px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.flow > *:not(:last-child){
  margin-bottom: .5rem;
}
.flex{
  display: flex;
}
.grid{
  display: grid;
}
/*****SCROLLBAR***/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--light-grey);
}
::-webkit-scrollbar-thumb {
  background-color: var(--third-color);
}
/*****DEFAULT SETUP*****/
section {
  padding-top: 50px;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--third-color);
  letter-spacing: 0.5px;
}
.body {
  overflow: hidden;
}
button,
input,
textarea {
  border: none;
  outline: none;
  font-family: "Open Sans", sans-serif;
  font-size: var(--n-fonts-size);
}
input[type="submit"]:disabled{
  opacity: .4;
}
input[type="submit"]:disabled:hover{
  background-color: var(--main-color);
}
html {
  scroll-behavior: smooth;
}

/********************************************
********************HEADER*******************
********************************************/
.header {
  position: relative;
  z-index: 999;
}
/*****set color for header links*****/
.navlink a,
.top-nav a {
  color: white;
  padding: 0;
}

#header a:hover,
#header .active-link,
.porfolio .filter-btns button,
.title-2 p,.blog-data .date {
  color: var(--grey);
}

.top-nav {
  transition: 1s ease;
}
/*****MAIN NAVIGATION BAR*****/
.main-navbar {
  width: 100%;
  height: var(--nav-height);
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.03);
  position: relative;
  z-index: 100;
}
.mainnav-content {
  height: inherit;
  /* position: relative; */
}
.logo {
  width: 120px;
  padding: 0;
}
.navlinks {
  position: absolute;
  top: calc(var(--nav-height) + 2rem);
  height: 0;
  transition: 0.5s;
  transition-delay: 0.1s;
  overflow: hidden;
}
.navlinks ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/*****burger*****/

.burger{
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    border: 1px solid #969696;
    border-radius: 5px;
    padding: 4px 6px;
}

.burger:hover {
  outline: 3px solid rgb(150, 150, 150, 0.5);
}
/*****TOP NAVIGATION BAR*****/
.top-nav {
  width: 100%;
  height: 0;
  background-color: var(--third-color);
  position: absolute;
  top: var(--nav-height);
  border-radius: 0 0 10px 10px;
  z-index: 98;
  overflow: hidden;
}
/***********hide top nav element*************/
.topnav-content {
  width: 100%;
  position: relative;
  top: 19rem;
  overflow: hidden;
  justify-content: space-between;
}
.open-nav .top-nav {
  height: var(--top-nav-height);
}
.open-nav .navlinks {
  height: 250px;
}
/****transform top nav items for sliding****/
/* .link {
  animation: linkAnim 1s ease forwards 1s ;
} */
.contact {
  transform: translateX(-105%);
  /* animation: contactAnim 1s ease forwards 1s ; */
  /***********ANIMATION IS IN ULTILITIES FILE***********/
}

.social-icons {
  transform: translateX(105%);
  /* animation: socialtAnim 1s ease forwards 1s ; */
  /***********ANIMATION IS IN ULTILITIES FILE***********/
}
.phone-ctn {
  margin-bottom: 0.5rem;
}
.social-icons a:not(:last-child),
.phone-ctn i,
.email-ctn i{
  margin-right: 0.5rem;
}
/****transform top nav items for sliding****/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  animation: stickyAnim 0.5s ease forwards;
  transform: translateY(-100%);
}

/********************************************
********************SHOWCASE*****************
********************************************/
.showcase {
  overflow: hidden;
  padding: 0;
}
.showcase-contents {
  padding-top: 4rem;
}
p,
.showcase-contents button,
.about-infos p,.about-infos .btn{
  font-size: var(--normal);
}
/**** showcase btns ****/
.buttons {
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}
/********************************************
****************ABOUT SECTION****************
********************************************/
.sub-title-1 h2,.sub-title-1 h2 span {
  font-size: var(--big);
}
.sub-title-1 span {
  color: var(--main-color);
}
.about-infos p {
  margin: 1rem 0;
}
.about-infos .btn {
  display: inline-block;
  margin-bottom: 1.5rem;
  padding: 0.5rem 0.8rem;
}
/**** stats ****/
.stats {
  padding: 40px 0;
}
.stats-content {
  gap: 1rem;
}
.stats .small-card {
  text-align: center;
  color: var(--main-color);
}
/********************************************
****************SERVICES SECTION****************
********************************************/

.services-card-content {
  padding: 55px 0;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  align-items: flex-start;
}
.big-card {
  padding: 1.5rem;
  border-radius: 20px;
  transition: 00.5s;
}
.big-card p{
  font-size: 1rem;
}

.big-card .card-img {
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 1rem;
}
.big-card .btn-primary {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  margin-top: 0.5rem;
}
.big-card .btn {
  font-weight: 500;
}
/********************************************
****************PORFOLIO****************
********************************************/
.porfolio {
  padding-bottom: 50px;
}
.porfolio .filter-btns {
  justify-content: center;
  column-gap: 0.5rem;
  padding: 2rem 0;
}

.porfolio .filter-btns .fl-active {
  color: black;
}
.porfolio .selction-ctn {
  padding: 2rem 0;
}

.porfolio-bd {
  align-items: flex-start;
  gap: 2rem;
}
.porfolio-article {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  /* height: 0;
  /* animation: styleAnim 0.5s ease-out forwards; */
}
@keyframes styleAnim {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
.porfolio-article .dark-bg,
.porfolio-article .pf-txt-ctn {
  position: absolute;
}

.porfolio-article .pf-txt-ctn {
  bottom: 1.5rem;
  color: white;
  left: 2rem;
}
.porfolio-article .dark-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.363);
  inset: 0;
}
.porfolio-article .category {
  display: inline-block;
  background-color: white;
  color: var(--third-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

/********************************************
****************TESTIMONIALS****************
********************************************/
.testimonials {
  background-color: var(--main-color);
  padding-bottom: 35px;
}
.testimonials p,
.testimonials h3,
.testimonials h2,
.testimonials span {
  color: white;
}

.test-card {
  background-color: #a90d0d;
  width: 100%;
  padding: 1.5rem 1.3rem;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5rem;
  cursor: grab;
}
.test-head {
  text-align: center;
}
.test-head .img-ctn {
  width: 120px;
  border-radius: 50%;
  border: 3px solid white;
  overflow: hidden;
}
.test-head .title {
  margin: 0.8rem 0;
}
.test-head .title h3 {
  margin-bottom: 5px;
}
.swiper {
  padding-top: 2rem !important;
  padding-bottom: 4rem !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
  width: 20px !important;
  border-radius: 30px !important;
  transition: 0.5s ease-in-out;
}

.trust-section {
  background-color: #f2f1f1;
  padding-top: 0;
  padding-bottom: 0;
}
.trust-section .content {
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.trust-section svg {
  width: 55px;
  fill: var(--grey);
}
.trust-section .wix svg {
  width: 40px;
}
.trust-section .wallmart svg {
  width: 110px;
}
.trust-section .beko svg {
  width: 65px;
}

/********************************************
****************CONTACT US****************
********************************************/
.contact-sec {
  padding: 50px 0;
  position: relative;
}
.contact-content {
  gap: 3rem;
}
.contact-content .infos {
  margin-top: 1.5rem;
  flex-direction: column;
  gap: 1rem;
}
.contact-content .infos a {
  padding: 0;
  color: var(--main-color);
}
.contact-content .infos a:hover {
  color: var(--hover-main);
}
.contact-content .infos i {
  padding-right: 0.8rem;
}
.form-ctn {
  position: relative;
}
.form-ctn .big-card {
  border-radius: 10px;
}
.form-ctn h3 {
  margin-bottom: 1.5rem;
}
form,
input,
textarea {
  width: 100%;
}
input,
textarea {
  font-size: 1rem;
  padding: 0.5em 0.8em;
  background-color: #ededed;
  border-radius: .25rem;

}
textarea {
  height: 150px;
  resize: none;
}
input:focus,
textarea:focus {
  outline: 1px solid var(--grey);
}
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.fs-sm{
  font-size: 12px;
}

form .btn-primary {
  font-weight: 600;
}
/*****************footer****************/
footer {
  padding: 50px 0;
  background-color: var(--third-color);
  font-size: 0.915rem;
}
footer .content {
  row-gap: 2.5rem;
}
footer .company-links {
  flex-direction: column;
  row-gap: 2rem;
}
.social-footer a {
  padding: 0;
}
footer a,
footer {
  color: white;
}

/*****************footer img****************/
.company-links ul {
  margin-left: 0.3rem;
}
.company-desc p {
  margin: 1rem 0;
  max-width: 350px;
  font-size: inherit;
}

.social-footer {
  margin-top: 1rem;
}
.social-footer a {
  margin-right: 0.8rem;
}

.company-links li {
  margin: 0.5rem 0;
}
.footer-style {
  position: relative;
  padding-left: 1rem;
}
.footer-style::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--main-color);
  left: 0;
}
/*******blog******/
footer .blog img {
  width: 70px;
}
.blog ul {
  width: 300px;
  margin-left: 1.2rem;
}
.blog li {
  column-gap: 1rem;
  margin: 1rem 0;
}
.company-desc img {
  width: 150px;
}
.blog-data .date {
  display: block;
  font-size: 0.915rem;
  font-weight: 300;
}
.blog-data h4 {
  margin-top: 0.3rem;
}
footer .copy {
  margin-top: 2.5rem;
  display: block;
  font-weight: 300;
  font-size: 0.915rem;
  text-align: center;
}
.scroll-up {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  background-color: var(--third-color);
  z-index: 100;
  bottom: 2rem;
  right: 2rem;
  color: white;
  font-size: 1.125rem;
  transform: translateY(100%);
  transition: 0.5s ease;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.103);
}
.scroll-true {
  visibility: visible;
  transform: translateY(0%);
  opacity: 1;
}

#box {
  width: 100%;
  max-width: 350px;
  height: 200px;
  padding: 1rem;
  position: fixed;
  display: none;
  z-index: 50;
  transition: 0.5s ease;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.098);
}
#box h2{
  font-size: 1.325rem;
}
#box p {
  font-size: 1rem;
  margin-top: 1rem;
}
#box button{
  background-color: #f21313;
  padding: .2rem .4rem;
  color:var(--light-grey);
  align-self: end;
}
#box[aria-hidden='false']{
  display: flex;
  flex-direction: column;
  text-align: center;
}
#box > div{
  height: 100%;
  display: flex;
  align-items: center;
}

#box[aria-hidden='false'] ~ .body{
  height: 100%;
  opacity: .1;
  filter: blur(10px);
  pointer-events: none;
  overflow: hidden;
}